.loop2Step2Button
    margin 0
    padding 0
    font-size 19px
    color #6f6a3f
    border none
    outline none
    background none
    user-select none
    cursor pointer
    
    &:hover,
    &:active
        color #403c1a
    
    &:focus
        color #403c1a
        text-decoration underline

.loop2Step2Button--cancel
    margin-right 40px