.loop2Step2Button
    margin 0
    padding 6px
    font-size 19px
    color #6f6a3f
    border none
    outline none
    background none
    border 1px dashed transparent
    user-select none
    cursor pointer
    
    &:hover,
    &:active
        color #403c1a
    
    &:focus
        color #403c1a
        border 1px dashed #7b7675

.loop2Step2Button--cancel
    margin-right 27px