.loop2Step10_info
    position relative
    flex 0 0 168px
    max-width 168px
    padding 15px 20px 21px

@media ( max-width 480px )
    .loop2Step10_info
        flex 0 0 auto
        width 40px
        height 40px
        background #f00
        cursor pointer
        
        > a
            display none