.motivation
    
    &__section
        display flex
        justify-content space-between
        max-width 899px
        margin 43px auto 78px
        
@media ( max-width 920px )
    .motivation__section
        padding 0 20px
        
@media ( max-width 700px )
    .motivation__section
        flex-direction column
        margin-bottom 0
