.loop3Step1Size
    display flex
    align-items center
    
    &__title
        flex 0 0 70px
        font-size 18px
        line-height 18px
        color #ababab
    
    &__items
        display flex
        flex-wrap wrap
        flex 1

.loop3Step1Size--size
    margin 0px 0 14px

.loop3Step1Size--amount
    margin 0 0 50px
    
    .loop3Step1Size__items
        flex 0 0 auto

    .loop3Step1Size__title
        margin 0 50px 0 0
    
    .loop3Step1Size__items
        position relative
            
    .loop3Step1Size__nav
        position absolute
        top 50%
        left 0
        right 0
        margin-top -5px
        
    .loop3Step1Size__prev,
    .loop3Step1Size__next
        position absolute
        width 0
        height 0
        border-style solid
        cursor pointer
        
    .loop3Step1Size__prev
        left -21px
        border-width 6px 7px 6px 0
        border-color transparent #e26796 transparent transparent

        &:hover,
        &:active,
        &:focus
            border-color transparent #a7486c transparent transparent
        
    .loop3Step1Size__next
        right -15px
        border-width 6px 0 6px 7px
        border-color transparent transparent transparent #e26796
    
        &:hover,
        &:active,
        &:focus
            border-color transparent transparent transparent #a7486c

@media ( max-width 990px )
    .loop3Step1Size--size,
    .loop3Step1Size--amount
        flex-direction column
        align-items flex-start
    
    .loop3Step1Size__title
        flex 1
        margin 0 0 15px
        
    .loop3Step1Size--amount 
        
        .loop3Step1Size__title
            margin-bottom 15px

        .loop3Step1Size__items
            margin-left 20px

@media ( max-width 768px )
    .loop3Step1Size--amount
        margin-bottom 20px