.loop3Step1Info
    
    &__title
        margin 0 0 14px
        font-size 44px
        font-weight bold
        line-height 44px
        letter-spacing -1.4px
        color #000
    
    &__text
        margin 0 0 37px
        font-size 14px
        line-height 22px
        letter-spacing 0.2px
        color #000