.loop3Step3Button
    display block
    padding 18px 20px
    font-size 12px
    color #fff
    line-height 12px
    text-transform uppercase
    text-decoration none
    border-radius 0 0 5px 5px
    background #2f2f2f
    user-select none
    outline none
    
    &:hover,
    &:active
        background #4c4c4c
        
    &:focus
        font-weight bold