.loop3Step9Music
    display flex
    
    &__img
        display flex
        align-items center
        justify-content center
        flex 0 0 110px
        max-width 110px
        
        .svg-icon
            fill #a3c5f3
    
    &__content
        display flex
        flex 1