.social
    display flex
    justify-content space-between
    max-width 1050px
    margin 0 auto
    border-radius 3px
    background #fff
    
    &__text
        display flex
        flex-direction column
        justify-content space-between
        flex 1 1 650px
        max-width 650px
        padding 80px 60px 0
    
    &__img
        display flex
        flex 0 0 400px
        max-width 400px