.wallet
    display block
    margin 0 0 30px
    padding 10px
    text-decoration none
    border 1px solid #dedede
    border-radius 5px
    background #fff
    
    &:last-child
        margin-bottom 0
    
    &:hover,
    &:active
        border-color transparent
        box-shadow 0px 0px 3px 2px #8793c6
        
    &:focus
        box-shadow 0px 0px 3px 2px #5874e8
        
    
    &__img
        display block
        max-width 60px
        margin-bottom 16px
        img
            max-width 100%
    
    &__num
        display block
        vertical-align middle
        margin-bottom 10px
        font-size 17px
        color #727272
        line-height 15px
    
    &__date
        display block
        font-size 14px
        line-height 12px
        color #727272