.article-dates
    
    &__date
        font-size 15px
        color #000
    
    &__time
        font-size 16px
        font-weight bold
        color #000

@media ( max-width 480px )
    .article-dates__date
        font-size 13px
        
    .article-dates__time
        font-size 14px