.loop3Step8Gaming
    position relative
    max-width 800px
    margin 0 auto
    padding 40px 40px 80px
    border-radius 5px
    background #525773
    
    &__top
        display flex
        justify-content space-between
        margin-bottom 33px
    
    &__mid
        height 390px
        overflow-x hidden
        overflow-y auto
        
        &::-webkit-scrollbar {
            background-color:#fff;
            width:16px
        }

        /* background of the scrollbar except button or resizer */
        &::-webkit-scrollbar-track {
            background-color:#fff
        }

        /* scrollbar itself */
        &::-webkit-scrollbar-thumb {
            background-color:#babac0;
            border-radius:16px;
            border:4px solid #fff
        }

        /* set button(top and bottom of the scrollbar) */
        &::-webkit-scrollbar-button {display:none}
    
    &__bot
        position absolute
        bottom 0
        left 0
        right 0
        display flex
        justify-content space-between
        height 72px
        padding 0 40px
        background #3d3f5c
        border-radius 0 0 5px 5px