.loop3Step8Gaming
    position relative
    max-width 800px
    margin 0 auto
    padding 40px 40px 72px
    border-radius 5px
    background #525773
    
    &__top
        display flex
        justify-content space-between
        margin-bottom 33px
    
    &__mid
        height 390px
        overflow-x hidden
        overflow-y auto
        
        &::-webkit-scrollbar {
            background-color:#fff;
            width:16px
        }

        /* background of the scrollbar except button or resizer */
        &::-webkit-scrollbar-track {
            background-color:#fff
        }

        /* scrollbar itself */
        &::-webkit-scrollbar-thumb {
            background-color:#babac0;
            border-radius:16px;
            border:4px solid #fff
        }

        /* set button(top and bottom of the scrollbar) */
        &::-webkit-scrollbar-button {display:none}
    
    &__bot
        position absolute
        bottom 0
        left 0
        right 0
        display flex
        justify-content space-between
        height 72px
        padding 0 40px
        background #3d3f5c
        border-radius 0 0 5px 5px
        

@media ( max-width 767px )
    .loop3Step8Slider__item
        display block
    
    .loop3Step8Slider__picture,
    .loop3Step8Slider__info
        max-width none
        height auto
    
    .loop3Step8Slider__info
        background none
    
    .loop3Step8Slider__info:before
        display none
    
    .loop3Step8Button--slider
        position relative
        width 100%
        left 0
        right 0
    
    .loop3Step8Gaming__mid
        height auto
        overflow visible
    
    .loop-3-step-8__section
        padding 0
    
    .loop3Step8Gaming
        padding 20px 20px 72px
        border-radius 0
    
    .loop3Step8Gaming__bot
        position fixed
        padding 0 20px
        z-index 55
    
    .loop3Step8Options__user, .loop3Step8Options__browser, .loop3Step8Options__record, .loop3Step8Options__print
        padding 0 10px
    
    .page-scroller.page-scroller--visible
        display none
    
@media ( max-width 375px )
    .loop3Step8Search__search
        max-width 110px
    
    .loop3Step8Gaming__bot
        padding 0 5px
    
    .loop3Step8Gaming__top
        flex-direction column
    
    .loop3Step8Title
        margin-bottom 25px