.loop3Step7Tickets
    padding 0 20px
    border-radius 5px
    box-shadow 0px 6px 9px 1px rgba(0,0,0,0.5)
    background #25262c
    
    &__top
        margin 0 0 35px
        padding 23px 0 22px
        border-bottom 1px solid #a8aaaa
    
    &__mid
        padding-bottom 5px
        border-bottom 1px solid #a8aaaa
    
    &__bot
        padding 20px 0