.loop3Step9Media
    background #fff
    overflow hidden
    
    &__top
        position relative
        z-index 1
        display flex
        justify-content space-between
        padding 40px 40px 42px
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover

        &:before
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            z-index -1
            background rgba(#000,0.7)
    
    &__mid
        padding 26px 0 0
    
    &__bot
        padding 28px 0