.article-text
    overflow-y auto
    height 100%
    font-size 21px
    line-height 30px
    
    
    p
        margin-bottom 22px

@media ( max-width 480px )
    .article-text
        font-size 16px
        line-height 21px
        
        p
            margin-bottom 10px
::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#484956;
    border-radius:16px;
    border:4px solid #fff
}