.loop2Step7Years
    display flex
    margin 0 0 24px
    overflow-y inherit
    overflow-x auto
    
    &::-webkit-scrollbar
        background-color #fff
        width 16px
    
    &::-webkit-scrollbar-thumb
        background-color #babac1
        border-radius 16px
        border 4px solid #fff
            
    &__year
        flex 0 0 auto
        margin 0 14px 0 0
        font-size 22px
        line-height 28px
        color #c9c9c9
        text-decoration none
        outline none
        
        &:hover,
        &:active
            color #000
            
        &:focus
            text-decoration underline

.loop2Step7Years__year.active
    color #000