.loop2Step10ItemSkills
    display flex
    flex 0 0 50%
    align-items center
    
    &__num
        position relative
        flex 0 0 40px
        max-width 40px
        width 40px
        height 40px
        margin 0 20px 0 0
        border 1px solid #000
        border-radius 50%
        
        span
            position absolute
            top 50%
            left 50%
            transform translate(-50%,-50%)
            font-size 16px
            color #000
            
    
    &__title
        flex 1
        font-size 15px
        color #000