.loop2Step5Read
    position relative
    padding 0 36px 0 0
    font-size 18px
    line-height 18px
    color #000
    text-transform uppercase
    text-decoration none
    outline none
    user-select none
    
    &:hover,
    &:active
    &:focus
        text-decoration underline
    
    &:before
        content ''
        position absolute
        top -2px
        right 0
        width 22px
        height 22px
        background url('../img/more.svg') 0 0 no-repeat
        background-size cover