.loop3Step8Title
    padding-top 4px
    
    &__title
        margin-bottom 13px
        font-size 50px
        font-weight bold
        line-height 40px
        color #f08ba7
        text-transform uppercase

    &__subtitle
        font-size 12px
        font-weight bold
        line-height 12px
        color #c3bec6
        text-transform uppercase