.loop2Step6DaysOfTheWeek
    display flex
    flex-wrap wrap
    margin 0 0 0 -26px
    
    &__day
        flex 0 0 14.28%
        max-width 14.28%
        padding 0 0 0 26px
        font-size 14px
        font-weight bold
        color #7d8994
        text-transform uppercase
        user-select none