.loop2Step10_btnIcon
    display inline-block
    vertical-align top
    margin 0 34px 0 0
    transition transform 0.2s
    
    &:hover,
    &:active
        transform translate(0,-10%)
        transition transform 0.2s
    
    .svg-icon--baseline-message-24px
        fill #2bcd71
    
    .svg-icon--baseline-notifications-24px
        fill #f1c40f
    
    .svg-icon--baseline-person_add-24px
        fill #9b58b6
    
    .svg-icon
        width 20px
        height 20px
    
    &:last-child
        margin-right 0