.loop3Step6PaymentMethod
    display flex
    padding-bottom 50px
    
    &__left
        flex 0 0 58%
        max-width 58%
        margin-right 30px
    
    &__right
        flex 0 0 36%
        max-width 36%