.loop3Step8Accordion
    position relative
    
    &__titles
        display flex
        margin-bottom 20px
    
    &__title
        position relative
        margin-right 25px
        padding-bottom 11px
        font-size 15px
        font-weight bold
        line-height 15px
        color #a9abb9
        text-decoration none
        text-transform uppercase
        cursor pointer
        user-select none

        &:before
            content ''
            position absolute
            bottom 0
            left 0
            opacity 0
            width 30px
            border-bottom 3px solid #f08ba7
            trasition opacity 0.3s

        &:last-child
            margin-right 0
    
    &__body
        display none
        width 100%
        max-width 100%
        font-size 25px
        font-weight bold
        line-height 25px
        color #b1b2ba
        text-transform capitalize
        
        h1
            color #b1b2ba
    
    .loop3Step8Accordion__body.isOpened
        display block
    
    .loop3Step8Accordion__title.isOpened
        color #fff
        
        &:before
            opacity 1