.wallets
    display flex
    max-width 800px
    margin 0 auto
    max-height 450px
    background #fff
    border-radius 0 5px 5px 0

@media ( max-width 640px )
    .wallets
        flex-direction column
        max-height none