body,
.app__content 
    background #75b7d0
    
.loop-1-step-3
    padding 100px 20px 170px
    &__section
        max-width 600px
        margin 0 auto
        border-radius 5px
        background #fff