.grid
    display flex
    flex-wrap wrap
    margin 0 0 0 -30px
    @media ( max-width 480px )
        margin 0 0 0 -20px
    
    &__col
        padding 0 0 30px 30px
        text-align center
        
        @media ( max-width 480px )
            padding 0 0 20px 20px

    .col-4
        flex 1 1 33.3%
        max-width 33.3%
    
    @media ( max-width 960px )
        .col-lg-6
            flex 1 1 50%
            max-width 50%
    
    @media ( max-width 768px )
        .col-md-12
            flex 1 1 100%
            max-width 100%
        