.grid
    display flex
    flex-wrap wrap
    justify-content space-around
    margin 0 -21px 0 -21px
    
    &__col
        padding 0px
        text-align center

    .col-4
        flex 0 0 28%
        max-width 28%
    
    @media ( max-width 960px )
        .col-lg-6
            flex 0 0 50%
            max-width 50%
    
    @media ( max-width 768px )
        .col-md-12
            flex 0 0 100%
            max-width 100%