.loop2Step4Menu
    max-width 300px
    margin 0 auto
    border-radius 5px
    background #fff
    overflow hidden
    
    &__img
        position relative
        z-index 1
        display flex
        min-height 150px
        padding 0 0 0 20px
        background-position 50% 50%
        background-repeat no-repeat
        background-size cover
        
        &:before
            content ''
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            z-index -1
            background rgba(0,0,0,0.2)
    
    &__items
        display block