.loop2Step10CardId
    background #fff
    border 1px solid $borderColor2
    
    &__head
        display flex
        flex-direction column
        align-items center
        padding 20px 15px
    
    &__img
        width 100px
        height 100px
        margin 0 0 15px
        
        img
            border-radius 50%
            max-width 100%
    
    &__title
        margin 0 0 10px
        font-size 17px
        font-weight 500
        line-height 17px
        color #000
    
    &__subtitle
        margin 0 0 7px
        font-size 13px
        font-weight 300
        line-height 13px
        color #000
    
    &__desc
        margin 0 0 11px
        font-size 13px
        font-weight 300
        line-height 13px
        color #a9adb6
        
    &__count
        position relative
        display flex
        flex-wrap wrap
        width 100%
        border-top 1px solid $borderColor
        
        &:before
            content ''
            position absolute
            bottom 0
            left 0
            right 0
            border-bottom 1px solid $borderColor
        
    &__mail
        padding 22px 20px 26px 20px
        border-bottom 1px solid $borderColor
