.app__content
    background linear-gradient( to bottom,hsla(#b784e6),cubic-bezier(0, 0, 1, 1),hsla(#8085e8) )
.loop-2-step-3
    
    &__section
        max-width 300px
        width 100%
        margin 0 auto
        padding 96px 20px
        box-sizing content-box