.loop2Step9GoogleMap
    max-width 450px
    width 100%
    margin 0 auto
    padding 25px 30px 30px
    background #fff
    
    &__top
        display flex
        justify-content space-between
        align-items center
        margin 0 0 18px 0
    
    &__title
        font-size 15px
        font-weight 500
        color #000
        line-height 15px
        text-transform uppercase