.sizeRadio
    min-width 48px
    margin 0 14px 0 0
    cursor pointer
    
    &:last-child
        margin-right 0

    &__size
        display block
        padding 7px 9px
        font-size 26px
        line-height 26px
        color #ababab
        text-align center
        border 2px solid transparent
        border-radius 50px

.loop3Step1Size__title
    margin 0 24px 0 0

.visually-hidden
    position absolute
    clip rect(0 0 0 0)
    width 1px
    height 1px
    margin -1px

.sizeRadio__input:checked+.sizeRadio__size
    border-color #e26796
    color #e26796

.sizeRadio--amount
    margin-right 0
    min-width auto
    border none

.sizeRadio__num
    font-size 25px
    letter-spacing -0.5px
    color #000
    