::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.87);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.87);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #3e50b4;
  background-color: rgba(62,80,180,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  text-transform: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 -15px;
}

.gallery a {
  display: block;
  background-image: none;
}

.gallery img,
.gallery .attachment-thumbnail {
  vertical-align: top;
  width: 100%;
  height: auto;
}

.gallery .gallery-caption {
  padding: 15px 0;
}

.gallery.gallery-columns-1 .gallery-item {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-2 .gallery-item {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-3 .gallery-item {
  max-width: 33.333333333333336%;
  -ms-flex-preferred-size: 33.333333333333336%;
      flex-basis: 33.333333333333336%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-4 .gallery-item {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-5 .gallery-item {
  max-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-6 .gallery-item {
  max-width: 16.666666666666668%;
  -ms-flex-preferred-size: 16.666666666666668%;
      flex-basis: 16.666666666666668%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-7 .gallery-item {
  max-width: 14.285714285714286%;
  -ms-flex-preferred-size: 14.285714285714286%;
      flex-basis: 14.285714285714286%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-9 .gallery-item {
  max-width: 11.11111111111111%;
  -ms-flex-preferred-size: 11.11111111111111%;
      flex-basis: 11.11111111111111%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.alignnone {
  margin: 0.5rem;
}

.aligncenter {
  display: block;
  margin: 0.5rem auto;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  padding-top: 5px;
}

.wp-caption img {
  width: 100%;
  height: auto;
}

.gallery-caption,
.wp-caption-text {
  font-size: 90%;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #3e50b4;
}

.theme-bgc {
  background-color: #3e50b4;
}

.app-footer {
  -ms-flex: none;
      flex: none;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.balanceCurrent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex: none;
      flex: none;
  padding: 0 0 40px;
  margin: 0 0 43px;
  border-bottom: 1px solid #ebebeb;
}

.balanceCurrent__title {
  padding: 0 10px 0 0;
  font-size: 21px;
  color: #000;
  letter-spacing: -0.6px;
}

.balanceCurrent__summery {
  display: block;
}

.balanceList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 1 62%;
      flex: 1 1 62%;
  padding: 37px 24px 30px 40px;
  overflow-y: auto;
  border-radius: 0 5px 5px 0;
  /* scrollbar itself */
  -webkit-overflow-scrolling: touch;
}

.balanceList::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

.balanceList::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

.app__content {
  background: #f7cd75;
}

.loop-1-step-9__section {
  padding: 95px 20px 180px;
}

.page-scroller {
  opacity: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  height: 100vh;
  background-color: rgba(62,80,180,0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  fill: #666;
  width: 24px;
  height: 24px;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(62,80,180,0.12);
}

.page-scroller:active {
  background-color: rgba(62,80,180,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.sum {
  margin-top: 7px;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  line-height: 23px;
}

.sum span {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-transform: none;
}

.sum--sumBalance {
  margin-top: 3px;
  font-size: 16px;
  color: #8797c6;
  line-height: 16px;
}

.sum--sumBalance span {
  font-size: 10px;
  color: #8797c6;
  line-height: 9px;
}

.sum--active {
  margin-top: 0;
  font-size: 16px;
  color: #8ace5e;
  line-height: 16px;
}

.sum--active span {
  font-size: 10px;
  color: #8ace5e;
  line-height: 9px;
}

.sumBalance {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0px 0 43px;
}

.sumBalance__content {
  position: relative;
  padding: 0 0 0 53px;
}

.sumBalance__before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 22px;
  height: 22px;
  outline: none;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  background: url("../img/minus.svg") 50% 50% no-repeat;
  background-size: 15px;
}

.sumBalance__before:hover,
.sumBalance__before:active {
  border: 1px solid #c3c3c3;
  background-color: #fff;
}

.sumBalance__before:focus {
  border: 1px solid #949393;
  background-color: #fff;
}

.sumBalance__before--active {
  background: url("../img/plus.svg") 50% 50% no-repeat;
  background-size: 15px;
}

.sumBalance__title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  line-height: 19px;
  letter-spacing: -0.2px;
}

.sumBalance__desc {
  font-size: 14px;
  color: #bfbfbf;
  line-height: 14px;
  letter-spacing: -0.3px;
}

.sumBalance__summery {
  padding: 10px 0 0;
}

.wallet {
  display: block;
  margin: 0 0 30px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #dedede;
  border-radius: 5px;
  background: #fff;
}

.wallet:last-child {
  margin-bottom: 0;
}

.wallet:hover,
.wallet:active {
  border-color: transparent;
  box-shadow: 0px 0px 3px 2px #8793c6;
}

.wallet:focus {
  box-shadow: 0px 0px 3px 2px #5874e8;
}

.wallet__img {
  display: block;
  max-width: 60px;
  margin-bottom: 16px;
}

.wallet__img img {
  max-width: 100%;
}

.wallet__num {
  display: block;
  vertical-align: middle;
  margin-bottom: 10px;
  font-size: 17px;
  color: #727272;
  line-height: 15px;
}

.wallet__date {
  display: block;
  font-size: 14px;
  line-height: 12px;
  color: #727272;
}

.wallets {
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  max-height: 450px;
  background: #fff;
  border-radius: 0 5px 5px 0;
}

.walletsList {
  position: relative;
  -ms-flex: 1 1 37%;
      flex: 1 1 37%;
  background: #f2f2f2;
  overflow-y: auto;
  /* scrollbar itself */
  -webkit-overflow-scrolling: touch;
}

.walletsList::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 16px;
}

.walletsList::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f2f2f2;
}

.walletsList__title {
  margin: 0 0 36px;
  padding: 35px 52px 0 41px;
  font-size: 21px;
  letter-spacing: -0.7px;
}

.walletsList__content {
  padding: 0 24px 35px 40px;
}

.wallPlus {
  content: '';
  position: absolute;
  top: 34px;
  right: 16px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid transparent;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.wallPlus:hover,
.wallPlus:active {
  border: 1px solid #e6e4e4;
  background: #fff;
}

.wallPlus:focus {
  border: 1px solid #949393;
  background: #fff;
}

@media (max-width: 640px) {
  .balanceList {
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
    overflow-y: none;
    -ms-flex-order: -1;
        order: -1;
  }

  .wallets {
    -ms-flex-direction: column;
        flex-direction: column;
    max-height: none;
  }

  .walletsList {
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
    overflow-y: none;
  }
}

@media (max-width: 480px) {
  .sumBalance {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .sumBalance__content,
  .sumBalance__summery {
    padding-left: 30px;
  }
}

@media (max-width: 425px) {
  .balanceCurrent {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .balanceList {
    padding: 37px 25px 30px;
  }

  .walletsList__content {
    padding: 0 25px 35px;
  }
}