::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.87);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.87);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-family: Ubuntu,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #3e50b4;
  background-color: rgba(62,80,180,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Ubuntu,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  text-transform: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 -15px;
}

.gallery a {
  display: block;
  background-image: none;
}

.gallery img,
.gallery .attachment-thumbnail {
  vertical-align: top;
  width: 100%;
  height: auto;
}

.gallery .gallery-caption {
  padding: 15px 0;
}

.gallery.gallery-columns-1 .gallery-item {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-2 .gallery-item {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-3 .gallery-item {
  max-width: 33.333333333333336%;
  -ms-flex-preferred-size: 33.333333333333336%;
      flex-basis: 33.333333333333336%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-4 .gallery-item {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-5 .gallery-item {
  max-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-6 .gallery-item {
  max-width: 16.666666666666668%;
  -ms-flex-preferred-size: 16.666666666666668%;
      flex-basis: 16.666666666666668%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-7 .gallery-item {
  max-width: 14.285714285714286%;
  -ms-flex-preferred-size: 14.285714285714286%;
      flex-basis: 14.285714285714286%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-9 .gallery-item {
  max-width: 11.11111111111111%;
  -ms-flex-preferred-size: 11.11111111111111%;
      flex-basis: 11.11111111111111%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.alignnone {
  margin: 0.5rem;
}

.aligncenter {
  display: block;
  margin: 0.5rem auto;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  padding-top: 5px;
}

.wp-caption img {
  width: 100%;
  height: auto;
}

.gallery-caption,
.wp-caption-text {
  font-size: 90%;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #3e50b4;
}

.theme-bgc {
  background-color: #3e50b4;
}

.app-footer {
  -ms-flex: none;
      flex: none;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.loop-3-step-6 {
  background: #fafafa;
}

.loop-3-step-6__section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.loop3Step6Info,
.loop3Step6Billing,
.loop3Step6Summary {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1);
}

.loop3Step6Billing {
  margin-bottom: 30px;
  padding: 32px 0 20px;
}

.loop3Step6Billing__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.loop3Step6Bot__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.loop3Step6Bot__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #000;
}

.loop3Step6But {
  margin-top: 13px;
  font-size: 15px;
  line-height: 13px;
  color: #6666ce;
  text-decoration: none;
  outline: none;
}

.loop3Step6But:hover,
.loop3Step6But:active,
.loop3Step6But:focus {
  color: #5f86ed;
  text-decoration: underline;
}

.loop3Step6But--complete {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
  padding: 14px 18px;
  color: #fff;
  background: #5f86ed;
  border-radius: 5px;
}

.loop3Step6But--complete:hover,
.loop3Step6But--complete:active {
  color: #fff;
  background: #88a3e8;
  text-decoration: none;
}

.loop3Step6But--complete:focus {
  color: #fff;
  background: #1c43a5;
  text-decoration: none;
}

.loop3Step6Buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.loop3Step6Crumbs {
  -ms-flex: none;
      flex: none;
  margin: 0 0 30px 0;
  padding: 14px 0 0;
  font-size: 12px;
  font-weight: 500;
  color: #000;
}

.loop3Step6Crumbs__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.loop3Step6Crumbs__items a {
  margin: 0 5px 0 0;
  padding: 0 1px 0 0;
  font-size: 12px;
  font-weight: 500;
  color: #adadad;
  text-decoration: none;
  outline: none;
  transition: color 0.3s;
}

.loop3Step6Crumbs__items a:hover,
.loop3Step6Crumbs__items a:active {
  color: #5f86ed;
}

.loop3Step6Crumbs__items a:focus {
  color: #5f86ed;
  text-decoration: underline;
}

.loop3Step6Crumbs__items span {
  margin: -3px 4px 0 0;
  font-size: 13px;
  color: #adadad;
  line-height: 0;
}

.loop3Step6Img {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
  padding: 8px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.loop3Step6Img__count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  background: #5f86ed;
}

.loop3Step6Img__img {
  max-width: 100%;
}

.loop3Step6Info {
  margin-bottom: 30px;
  padding: 32px 30px 30px;
}

.loop3Step6Info__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.loop3Step6Info__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

.loop3Step6Info__top {
  margin-bottom: 22px;
}

.loop3Step6Info__bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
}

.loop3Step6Label {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.loop3Step6Label__title {
  margin-bottom: 9px;
  font-size: 13px;
  font-weight: bold;
  line-height: 12px;
  color: #aaa;
  text-transform: uppercase;
}

.loop3Step6Label__input {
  max-width: 100%;
  width: 100%;
  padding: 7px 10px;
  font-size: 14px;
  color: #000;
  border: 2px solid #dedede;
  border-radius: 3px;
  outline: none;
}

.loop3Step6Label__input:focus {
  border-color: #b5b3b3;
}

.loop3Step6Label__input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #817a7c;
  opacity: 1;
  /* Firefox */
}

.loop3Step6Label__input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #817a7c;
  opacity: 1;
  /* Firefox */
}

.loop3Step6Label__input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #817a7c;
  opacity: 1;
  /* Firefox */
}

.loop3Step6Label__input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #817a7c;
  opacity: 1;
  /* Firefox */
}

.loop3Step6Label__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #817a7c;
  opacity: 1;
  /* Firefox */
}

.loop3Step6Label__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #817a7c;
}

.loop3Step6Label__input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #817a7c;
}

.loop3Step6Label--w-60 {
  -ms-flex: 0 0 60%;
      flex: 0 0 60%;
  max-width: 60%;
  padding-left: 20px;
}

.loop3Step6Label--w-20 {
  -ms-flex: 0 0 20%;
      flex: 0 0 20%;
  max-width: 20%;
  padding-left: 20px;
}

.loop3Step6Label--billing {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px;
  padding: 0 20px 21px;
  outline: none;
  border-bottom: 1px solid #f0f0f0;
}

.loop3Step6Label--billing .loop3Step6Label__input {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  border: none;
}

.loop3Step6Label--billing .loop3Step6Label__title {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  text-transform: initial;
}

.loop3Step6Label--billing .loop3Step6Label__span {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #e4e4e4;
}

.loop3Step6Label--billing .loop3Step6Label__input:checked ~ .loop3Step6Label__span {
  background: #fff;
  border-color: #e4e4e4;
}

.loop3Step6Label--billing .loop3Step6Label__input:checked ~ .loop3Step6Label__span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #6666ce;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loop3Step6Label--billing:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.loop3Step6Middle__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 15px;
}

.loop3Step6Middle__item:last-child {
  margin-bottom: 0;
}

.loop3Step6Middle__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #000;
}

.loop3Step6PaymentMethod {
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.loop3Step6PaymentMethod__left {
  -ms-flex: 0 0 58%;
      flex: 0 0 58%;
  max-width: 58%;
  margin-right: 30px;
}

.loop3Step6PaymentMethod__right {
  -ms-flex: 0 0 36%;
      flex: 0 0 36%;
  max-width: 36%;
}

.loop3Step6Sum {
  font-size: 15px;
  font-weight: bold;
  line-height: 14px;
  color: #000;
}

.loop3Step6Sum--middle {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.loop3Step6Sum--bold {
  font-size: 17px;
  font-weight: bold;
  line-height: 14px;
  color: #000;
}

.loop3Step6Summary__section {
  padding: 30px 30px 8px;
}

.loop3Step6Summary__top,
.loop3Step6Summary__middle {
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.loop3Step6Summary__middle {
  padding: 23px 0 24px;
}

.loop3Step6Summary__bottom {
  padding: 23px 0;
}

.loop3Step6Title {
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: bold;
  line-height: 26px;
  color: #000;
}

.loop3Step6Title--billing {
  margin-bottom: 56px;
  padding: 0 30px;
}

.loop3step6Top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.loop3step6Top__left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.loop3step6Top__title {
  font-size: 15px;
  font-weight: 500;
  line-height: 14px;
  color: #000;
}

.page-scroller {
  opacity: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  height: 100vh;
  background-color: rgba(62,80,180,0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  fill: #666;
  width: 24px;
  height: 24px;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(62,80,180,0.12);
}

.page-scroller:active {
  background-color: rgba(62,80,180,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 767px) {
  .loop3Step6PaymentMethod {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .loop3Step6PaymentMethod__right {
    -ms-flex-order: -1;
        order: -1;
  }

  .loop3Step6Info,
  .loop3Step6Billing,
  .loop3Step6Summary,
  .loop3Step6PaymentMethod__left,
  .loop3Step6PaymentMethod__right {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .loop3Step6PaymentMethod__left,
  .loop3Step6Summary {
    margin: 0;
  }
}

@media screen and (max-width: 640px) {
  .loop3Step6Crumbs__items {
    display: block;
  }
}

@media (max-width: 500px) {
  .loop3Step6Label.loop3Step6Label--w-60 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }

  .loop3Step6Info__items {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .loop3Step6Label.loop3Step6Label--w-20 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }

  .loop3Step6Info__top {
    margin-bottom: 0;
  }

  .loop3Step6Label {
    margin-bottom: 22px;
  }
}

@media (max-width: 375px) {
  .loop3Step6Buttons {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .loop3Step6But {
    margin-bottom: 20px;
    text-align: center;
  }

  .loop3Step6Summary__section {
    padding: 20px 20px 8px;
  }

  .loop3Step6Info {
    padding: 20px 20px;
  }

  .loop3Step6Title--billing {
    padding: 0 20px;
  }

  .loop3Step6Label.loop3Step6Label--w-20 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}