::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.87);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.87);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-family: Ubuntu,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #3e50b4;
  background-color: rgba(62,80,180,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: Ubuntu,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  text-transform: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 -15px;
}

.gallery a {
  display: block;
  background-image: none;
}

.gallery img,
.gallery .attachment-thumbnail {
  vertical-align: top;
  width: 100%;
  height: auto;
}

.gallery .gallery-caption {
  padding: 15px 0;
}

.gallery.gallery-columns-1 .gallery-item {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-2 .gallery-item {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-3 .gallery-item {
  max-width: 33.333333333333336%;
  -ms-flex-preferred-size: 33.333333333333336%;
      flex-basis: 33.333333333333336%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-4 .gallery-item {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-5 .gallery-item {
  max-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-6 .gallery-item {
  max-width: 16.666666666666668%;
  -ms-flex-preferred-size: 16.666666666666668%;
      flex-basis: 16.666666666666668%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-7 .gallery-item {
  max-width: 14.285714285714286%;
  -ms-flex-preferred-size: 14.285714285714286%;
      flex-basis: 14.285714285714286%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-9 .gallery-item {
  max-width: 11.11111111111111%;
  -ms-flex-preferred-size: 11.11111111111111%;
      flex-basis: 11.11111111111111%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.alignnone {
  margin: 0.5rem;
}

.aligncenter {
  display: block;
  margin: 0.5rem auto;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  padding-top: 5px;
}

.wp-caption img {
  width: 100%;
  height: auto;
}

.gallery-caption,
.wp-caption-text {
  font-size: 90%;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #3e50b4;
}

.theme-bgc {
  background-color: #3e50b4;
}

.app-footer {
  -ms-flex: none;
      flex: none;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__content {
  background: linear-gradient(to bottom, hsl(271.22, 66.22%, 70.98%), hsl(270.64, 66.26%, 70.99%) 1.97%, hsl(269.02, 66.37%, 71.02%) 7.41%, hsl(266.52, 66.53%, 71.07%) 15.63%, hsl(263.32, 66.74%, 71.13%) 25.93%, hsl(259.58, 66.98%, 71.2%) 37.62%, hsl(255.48, 67.24%, 71.28%) 50%, hsl(251.21, 67.49%, 71.35%) 62.38%, hsl(247.02, 67.74%, 71.42%) 74.07%, hsl(243.16, 67.95%, 71.48%) 84.38%, hsl(239.96, 68.14%, 71.51%) 92.59%, hsl(237.85, 69.02%, 70.84%) 98.03%, hsl(237.12, 69.33%, 70.59%));
}

.loop-2-step-3__section {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 96px 20px;
  box-sizing: content-box;
}

.loop2Step3Arrow {
  position: absolute;
  top: 30px;
  right: 12px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 1px dashed transparent;
  background: none;
  outline: none;
  cursor: pointer;
}

.loop2Step3Arrow:focus {
  border-color: #fff;
}

.loop2Step3Files {
  border-radius: 5px;
  box-shadow: 0px 0px 32px -9px #000;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.loop2Step3Navigation {
  background: #5f5280;
}

.loop2Step3Navigation ul {
  position: relative;
  padding: 27px 0 13px 22px;
}

.loop2Step3Navigation ul:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 31px;
  width: 2px;
  background: #afa9c0;
}

.loop2Step3Navigation ul li {
  margin: 0 0 14px;
}

.loop2Step3Navigation ul li a {
  position: relative;
  z-index: 5;
  display: block;
  padding: 0 0 0 32px;
  font-size: 15px;
  font-weight: bold;
  color: #afa9c0;
  text-decoration: none;
  outline: none;
}

.loop2Step3Navigation ul li a:hover,
.loop2Step3Navigation ul li a:active {
  color: #fff;
}

.loop2Step3Navigation ul li a:focus {
  color: #fff;
  text-decoration: underline;
}

.loop2Step3Navigation ul li a .before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px 0 0;
  border-radius: 50%;
  background: #5f5280;
}

.loop2Step3Navigation ul li a .before:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
}

.loop2Step3Title {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 40px 19px 20px;
  background: linear-gradient(to bottom, hsl(274.38, 51.45%, 66.08%), hsl(274.32, 51.4%, 66.06%) 1.97%, hsl(274.17, 51.29%, 66.01%) 7.41%, hsl(273.93, 51.13%, 65.93%) 15.63%, hsl(273.62, 50.92%, 65.83%) 25.93%, hsl(273.27, 50.68%, 65.71%) 37.62%, hsl(272.9, 50.43%, 65.59%) 50%, hsl(272.53, 50.18%, 65.47%) 62.38%, hsl(272.17, 49.95%, 65.35%) 74.07%, hsl(271.85, 49.75%, 65.25%) 84.38%, hsl(271.6, 49.58%, 65.17%) 92.59%, hsl(271.43, 49.48%, 65.12%) 98.03%, hsl(271.36, 49.44%, 65.1%));
}

.loop2Step3Title__text {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.loop2Step3Title__img {
  position: relative;
  z-index: 1;
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  background: #fff;
}

.loop2Step3Title__img:before {
  content: '';
  position: absolute;
  top: -40px;
  left: 11px;
  z-index: -1;
  width: 2px;
  height: 50px;
  background: #fff;
}

.loop2Step3Title__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  -webkit-transform: translate(-50%, -58%);
          transform: translate(-50%, -58%);
}

.loop2Step3Title--foot {
  padding: 20px 40px 20px 20px;
}

.loop2Step3Title--foot .loop2Step3Title__img:before {
  content: '';
  position: absolute;
  top: -20px;
  left: 11px;
  z-index: -1;
  width: 2px;
  height: 70px;
  background: #fff;
}

.page-scroller {
  opacity: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  height: 100vh;
  background-color: rgba(62,80,180,0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  fill: #666;
  width: 24px;
  height: 24px;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(62,80,180,0.12);
}

.page-scroller:active {
  background-color: rgba(62,80,180,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}