.loop2Step2Account
    max-width 500px
    margin 0 auto
    padding 54px 40px 18px 60px
    background #fdec51
    
    &__section
        margin 0 -100px 0 0

    &__title
        position relative
        margin 0 0 54px
        padding 0 100px 0 0
        font-size 20px
        color #000

    &__items
        display flex
        flex-wrap wrap
        margin 0 0 18px
        padding 0 40px 19px
        box-shadow -7px 7px 25px 1px rgba(0,0,0,0.3)
        background #fff
    
    &__bot
        display flex
        justify-content flex-end
        padding 0 113px 0 0

@media ( max-width 640px )
    .loop2Step2Account
        padding 54px 20px 25px

    .loop2Step2Account__section
        margin 0
    
    .loop2Step2Account__bot
        justify-content flex-start
        padding 0 0 0 40px

@media ( max-width 480px )
    .loop2Step2Account
        padding 25px 20px 25px
        max-width 400px

@media ( max-width 425px )
    .loop2Step2Account
        max-width 300px
    