.loop2Step9Burger
    display flex
    padding 5px
    border 1px dashed transparent
    background none
    outline none
    cursor pointer
    
    &:focus
        border-color #000

    &:hover,
    &:active
        .svg-icon--menu
            fill #000
            transition fill 0.3s

    .svg-icon--menu
        vertical-align top
        fill #b3b3b3
        transition fill 0.3s