.loop2Step4Icons
    display flex
    margin 0 0 25px

    &__img
        position relative
        width 75px
        height 61px
        margin 0 1px 0 0
        font-size 0
        outline none
        user-select none
        background #3d3e52
        
        &:hover,
        &:active
            background #323344

        &:focus
            background #252525
            
            img
                opacity 1
        
        img
            position absolute
            top 50%
            left 50%
            width 24px
            height 24px
            opacity 0.5
            transform translate(-50%,-50%)
    
.loop2Step4Icons__img--active
    z-index 5
    cursor auto
    transform scale(1.3)
    box-shadow 0px 0px 8px -1px #000
    background #252525
    
    &:hover,
    &:active
        background #252525
    
    &:focus
        background #252525
        
        img
            opacity 1

    img
        opacity 1

@media ( max-width 375px )
    .loop2Step4Icons__img
        height 50px