.loop3Step7Mid
    
    &__image
        max-width 590px
        width 100%
        margin 0 auto
        transform perspective(300px) scaleZ(0.25) rotateX(-45deg)

    &__img
        max-width 100%
        width 100%
        height 104px