.loop2Step3Arrow
    position absolute
    top 30px
    right 12px
    margin 0
    padding 0
    width 40px
    height 40px
    border 1px dashed transparent
    background none
    outline none
    cursor pointer
    
    &:focus
        border-color #fff