.loop2Step10Contents
    background #f6f8f9
    
    &__section
        max-width 1000px
        width 100%
        margin 0 auto
        padding 20px 0 20px

@media ( max-width 980px )
    .loop2Step10Contents__section
        padding 20px 20px 20px