.loop3Step2More
    padding 10px 38px 11px
    font-size 13px
    line-height 13px
    font-weight normal
    color #648cf7
    text-decoration none
    text-transform uppercase
    border 1px solid #648cf7
    outline none
    transition background 0.3s
    
    &:hover,
    &:active
        box-shadow 0 0 3px 1px #648cf7
        transition background 0.3s
    
    &:focus
        box-shadow 0 0 12px 2px #648cf7
        transition background 0.3s