.loop2Step10Content
    margin 0 0 20px
    padding 0 0 20px
    background #fff
    
    &__title
        padding 21px 20px 23px
        font-size 15px
        line-height 15px
        color #000
        text-transform uppercase
        border-bottom 1px solid $borderColor