.article-message
    display flex
    margin-right 23px
    text-decoration none

    &__img
        margin-right 9px
    
    &__num
        font-size 17px
        color #000

@media ( max-width 480px )
    .article-message__num
        font-size 15px