.loop3Step9Nav
    display flex
    margin 0 0 27px
    padding 0
    list-style none
    
    li
        margin-right 25px
        
        a
            font-size 15px
            line-height 15px
            text-decoration none
            color #b3b3b3
            
            &:hover,
            &:active
                color #333
            
            &:focus
                text-decoration underline
        
    li.active
        margin-right 20px
        
        a
            font-size 20px
            font-weight bold
            line-height 18px
            color #333333