.loop-1-step-2
    padding 100px 15px 315px
    background url('../img/background.jpg') 0 0 no-repeat
    &__section
        position relative
        max-width 340px
        margin 0 auto
        font-size 0
        border-radius 4px
        background #fff
    
    &__title
        padding 42px 10px 24px
        font-size 20px
        color #000
        font-weight bold
        text-transform uppercase
        text-align center