.article-content
    display flex
    flex-direction column
    justify-content space-between
    flex 1 1 600px
    padding 61px 0 30px
    
    &__top
        padding 0 40px
        margin-bottom 5px

    &__bot
        display flex
        justify-content space-between
        padding 30px 40px 0
        box-shadow 0px -5px 14px -3px rgba(0,0,0,0.2)

@media ( max-width 640px )
    .article-content
        flex none
        padding 30px 0

@media ( max-width 480px )
    .article-content
        padding 15px 0

    .article-content__top
        padding 0 20px
        margin-bottom 10px
    
    .article-content__bot
        padding 20px 20px 0