.article-content
    display flex
    flex-direction column
    justify-content space-between
    flex 1 1 600px
    padding 0
    
    &__top
        height 100%
        padding 61px 40px 0
        margin-bottom 5px

    &__bot
        display flex
        justify-content space-between
        align-items center
        padding 20px 40px
        box-shadow 0px -5px 14px -3px rgba(0,0,0,0.2)

@media ( max-width 760px )
    .article-content
        flex none
    
    .article-content__top
        padding 30px 40px 0
        

@media ( max-width 480px )
    .article-content__top
        padding 15px 20px
        margin-bottom 10px
    
    .article-content__bot
        padding 20px