.loop2Step6Day
    position relative
    display flex
    align-items center
    justify-content center
    width 33px
    height 33px
    margin 0 0 0 -5px
    font-size 15px
    color #000
    letter-spacing 0.5px
    line-height 14px
    text-decoration none
    border 2px solid transparent
    border-radius 50%
    outline none
    user-select none
    
    &:hover,
    &:active
        text-decoration underline
    
    &:focus
        border-style dotted
        border-color #de6e46

.loop2Step6Day.no-active
    color #dedede
    
.loop2Step6Day.cur
    color #fff
    background #de6e46

.loop2Step6Day.orange
    border-color #de6e46
    
    .num
        position absolute
        top -5px
        right -7px
        width 16px
        font-size 11px
        color #fff
        border-radius 50%
        background #de6e46

.loop2Step6Day.purple
    border-color #ae5989
    
    .num
        position absolute
        top -5px
        right -7px
        width 16px
        font-size 11px
        color #fff
        border-radius 50%
        background #ae5989