.balanceCurrent
    display flex
    justify-content space-between
    flex none
    padding 0 0 40px
    margin 0 0 43px
    border-bottom 1px solid #ebebeb

    &__title
        padding 0 10px 0 0
        font-size 21px
        color #000
        letter-spacing -0.6px
    
    &__summery
        display block

@media ( max-width 425px )
    .balanceCurrent
        flex-direction column