.loop2Step10CardCount
    flex 0 0 50%
    padding 19px 15px 21px
    text-align center
    border-bottom 1px solid $borderColor
    
    &:nth-child(odd)
        border-right 1px solid $borderColor
    
    &__title
        margin 0 0 4px
        font-size 15px
        font-weight bold
        line-height 15px
        color #000
    
    &__subtitle
        font-size 13px
        font-weight 300
        line-height 13px
        color #c0b8b2