.loop3Step5Graph
    margin 0 60px 0 0

.donut
    width 130px
    height 130px
    fill transparent
        
.chart-text
  font-size 13px
  fill #fff
  transform translateY(0.25em)

.chart-number
  font-size 4px
  line-height 1
  text-anchor middle
  transform translateY(-5px)

.chart-label
  font-size 4px
  text-transform uppercase
  text-anchor middle
  transform translateY(1px)