.app__content
    background #4d515d
.loop-1-step-6
    &__section
        padding 52px 20px 45px

@media ( max-width 1110px )
    .social
        max-width 650px

    .social__img
        display none

@media ( max-width 500px )
    .social__text
        padding 30px 20px 0
        
    .signupOther:before
        left -20px
        right -20px
    
    .social-title
        margin-bottom 30px
    
    .signupOther
        flex-direction column
        padding 22px 0 15px
    
    .signupOther__title
        margin-bottom 20px