.headerEditBlock
    max-width 390px
    margin-right 20px
    
    &__title
        margin 0px 0 52px
        font-size 45px
        font-weight bold
        color #000
        line-height 42px
        letter-spacing normal

    &__content
        margin 0px 0 40px
        padding 0 0 0 30px
        font-size 13px
        color #000
        line-height 20px
        border-left 1px solid #000
    
    &__button
        display inline-block
        vertical-align top
        margin 0 0 15px
        padding 10px 19px 10px
        font-size 11px
        font-weight bold
        color #fff
        letter-spacing 0.1px
        text-decoration none
        text-transform uppercase
        background #ea625c
        outline none
        
        &:hover,
        &:active
            background #ca4e48
            
        &:focus
            background #a72b25
            
.headerEditBlock--middle
    flex 1 1 40%
    align-self center
    max-width 390px
    margin 20px 20px 0px 0
    
    .headerEditBlock__title
        font-size 42px
        line-height 47px
        letter-spacing -2.3px
    
    .headerEditBlock__button
        padding 9px 19px 10px
        
.headerEditBlock--foot
    flex 1 1 40%
    align-self center
    max-width 400px
    margin 13px 20px 0 0
    
    .headerEditBlock__title
        font-size 42px
        color #fff
        line-height 47px
        letter-spacing -2.3px
        
    .headerEditBlock__content
        font-size 13px
        font-weight bold
        color #fff
        border-color #fff
    
    .headerEditBlock__button
        padding 9px 17px 10px

@media ( max-width 700px )
    .headerEditBlock--middle
        margin 20px auto 20px auto
        
    .headerEditBlock--foot
        flex 1 1 390px
        max-width 390px
        margin 13px auto