.loop3Step8Options
    display flex
    
    &__user,
    &__browser,
    &__record,
    &__print
        outline none
        padding 0 25px
        transition background 0.3s
        
        &:hover,
        &:active
            background #51536d
        
        &:focus
            background #7b7d94
        
        .svg-icon
            fill #fff
            vertical-align middle
            height 100%
        