.header
    border-bottom 1px solid #000
    
    &__section
        position relative
        max-width 899px
        margin 0 auto
        min-height 729px
    
    &__top
        display flex
        justify-content space-between
        align-items center
        margin 0 0 140px
        padding 40px 0 0


@media ( max-width 920px )
    .header__section
        padding 0 20px
    
@media ( max-width 700px )
    .header__middle
        display flex
        justify-content center
    
    .header__top
        margin-bottom 40px
        
    .header__section
        min-height auto
        padding 0 20px 20px