.article
    display flex
    max-width 1000px
    max-height 90vh
    margin 0 auto
    background #fff
    

@media ( max-width 760px )
    .article
        flex-direction column
        max-height none