.tour-text
    display flex
    padding 0 55px 100px 98px

@media ( max-width 980px )
    .tour-text
        padding 0 55px 40px 30px
    
@media ( max-width 480px )
    .tour-text
        flex-direction column