.loop2Step8ItemText
    flex 1
    
    &__title
        margin 0 0 5px
        font-size 17px
        line-height 17px
        font-weight bold
        color #000
    
    &__subtitle
        font-size 15px
        line-height 15px
        color #b0abaa