// .app__content

.loop-2-step-5
    position relative
    z-index 1
    height 100vh
    background url('../img/background-min1.jpg') 50% 50% no-repeat
    background-size cover
    overflow hidden
    