.loop3Step6Sum
    font-size 15px
    font-weight bold
    line-height 14px
    color #000

.loop3Step6Sum--middle
    font-size 12px
    font-weight 500
    line-height 12px

.loop3Step6Sum--bold
    font-size 17px
    font-weight bold
    line-height 14px
    color #000