.loop2Step1SliderButton
    position absolute
    bottom -30px
    left 20px
    right 20px
    padding 22px 15px 22px
    font-size 16px
    color #fff
    line-height 1
    text-align center
    text-transform uppercase
    text-decoration none
    outline none
    border-radius 5px
    background #131313
    
    &:hover,
    &:active
        background #313131
    
    &:focus
        background #b1807f