.loop3Step1Nav
    display block
    
    &__dot
        display inline-block
        vertical-align top
        width 15px
        height 15px
        margin 0 8px
        background #eea5bf
        border 1px dashed transparent
        border-radius 50%
        outline none
        
        &:hover,
        &:active
            background #fff
        
        &:focus
            background #fff
            border-color #e26796