.loop3Step1Nav
    display block
    
    &__dot
        position relative
        display inline-block
        vertical-align top
        width 15px
        height 15px
        margin 0 8px
        background #eea5bf
        border-radius 50%
        outline none
        
        &:hover,
        &:active
            background #fff

        &:focus
            background #fff
            
            &:before
                content ''
                position absolute
                top -2px
                left -2px
                right -2px
                bottom -2px
                opacity 0
                border-radius 50%
                border 1px solid #eea5bf
                animation dotHov 1s ease-in-out infinite

@keyframes dotHov
    0%
        opacity 0
    
    50%
        opacity 1

    100%
        opacity 0
