.loop2Step9Map
    position relative
    z-index 1
    margin 0 -40px 40px
    border-radius 5px
    background-color rgba(#4677f6,0.6)
    background-position 50% 50%
    background-repeat no-repeat
    background-size cover
    
    &:before
        content ''
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index -1
        background-color rgba(#4677f6,0.6)
    
    &__section
        padding 40px 40px 48px
    
    &__top
        display flex
        align-items center
        justify-content space-between
        margin 0 0 20px
    
    &__bot
        display flex
    
    &__from,
    &__to
        flex 0 0 auto
        max-width 66px
        font-size 16px
        color #fff
        line-height 16px
    
    &__to
        text-align right
    
    &__time,
    &__distance
        font-size 14px
        font-weight bold
        text-transform uppercase
        color #fff
        
        span
            padding 0 0 0 4px
            font-weight normal
            text-transform initial
    
    &__time
        margin-right 24%
        
@media ( max-width 480px )
    .loop2Step9Map
        margin 0 -30px 40px
        border-radius 0

    .loop2Step9Map__top
        flex-wrap wrap
    
    .loop2Step9Map__bot
        justify-content space-between
    
    .loop2Step9Map__distance
        text-align right