.loop2Step7Articles
    display flex
    max-width 1000px
    margin 0 auto
    // height 568px
    // overflow hidden
    
    &__media
        flex 0 0 45%
    
    &__content
        flex 0 0 55%

@media ( max-width 980px )
    .loop2Step7Articles
        flex-direction column