.footer
    background-color #ebebeb
    background-repeat no-repeat
    background-position 50% 50%
    background-size 100% 100%
    
    &__section
        display flex
        justify-content flex-end
        max-width 899px
        margin 0 auto
        min-height 727px
        
@media ( max-width 920px )
    .footer
        background-size cover

    .footer__section
        padding 0 20px