.loop2Step10OtherPeople
    
    &__title
        margin 0 0 21px
        font-size 14px
        font-weight 300
        line-height 14px
        letter-spacing -0.3px
        color #000
        text-transform uppercase