.loop3Step8Button
    align-self flex-start
    padding 12px 28px
    font-size 13px
    font-weight bold
    line-height 13px
    color #fff
    text-transform uppercase
    text-decoration none
    border 1px solid #fff
    border-radius 25px
    transition background 0.3s
    
    &:hover,
    &:active
        background #7b7d94
    
    &:focus
        background #b6b9de

.loop3Step8Button--slider
    position absolute
    left 20px
    right 20px
    bottom 0
    display flex
    justify-content center
    border-color #74798f