.app__content
    background #4677f6
    background-size cover
    
.loop-2-step-9
    // background #4677f6
    // background-size cover
    // height 100vh
    
    &__section
        padding 143px 20px 60px

@media ( max-width 480px )
    .loop-2-step-9__section
        padding 143px 0 60px
    
    .loop2Step9GoogleMap
        max-width 470px