.app__content
    background #4677f6
    background-size cover
    
.loop-2-step-9
    // background #4677f6
    // background-size cover
    // height 100vh
    
    &__section
        padding 143px 20px 60px