.loop3Step6Summary
    
    &__section
        padding 30px 30px 8px
    
    &__top,
    &__middle
        padding-bottom 20px
        border-bottom 1px solid #eaeaea
    
    &__middle
        padding 23px 0 24px
    
    &__bottom
        padding 23px 0