.loop2Step4Title
    align-self flex-end
    padding 0 0 17px
    
    &__title
        margin 0 0 8px
        font-size 27px
        line-height 25px
        font-weight bold
        color #fff
    
    &__subtitle
        position relative
        padding 0 0 0 18px
        font-size 12px
        color #fff
        
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 12px
            height 15px
            background url('../img/location.svg') 0 0 no-repeat
            background-size cover
    