.loop3Step7Button
    padding 12px 45px
    font-size 17px
    font-weight bold
    line-height 17px
    text-transform uppercase
    color #fff
    border none
    border-radius 5px
    cursor pointer
    outline none
    background #3398dc
    
    &:hover,
    &:active
        background #3fa9f1

    &:focus
        background #0967a7