.loop2Step5Body
    position absolute
    bottom 20px
    right 20px
    width 350px

    &__num
        margin 0 0 16px
        font-size 105px
        line-height 85px
        color #000
        
    &__text
        margin 0 0 60px
        font-size 38px
        font-weight 500
        line-height 48px
        color #000
    
    &__view
        font-size 15px
        line-height 15px
        color #000