.headImg
    content ''
    position absolute
    top 109px
    right -557px
    width 645px
    
    img
        max-width 100%
        
@media ( max-width 920px )
    .headImg
        right -355px

@media ( max-width 768px )
    .headImg
        right -55%
        
@media ( max-width 700px )
    .headImg
        display none