.loop3Step1Button
    max-width 300px
    width 100%
    display inline-block
    vertical-align top
    padding 19px 40px 20px
    font-size 21px
    font-weight bold
    line-height 21px
    color #fff
    text-align center
    text-transform uppercase
    text-decoration none
    background #e74c3c
    border 1px dashed transparent
    border-radius 5px
    outline none
    cursor pointer
    
    &:hover,
    &:active
        background #b74033
    
    &:focus
        background #ec9b93