.loop3Step3Title
    margin 0 0 20px
    padding 0 20px
    
    &__title
        margin 0 0 4px
        font-size 17px
        font-weight bold
        color #000
        line-height 17px
        text-transform uppercase
    
    &__subtitle
        font-size 13px
        color #b7adaa