.social-title
    margin-bottom 60px
    
    &__title
        margin-bottom 20px
        font-size 41px
        line-height 41px
        color #000
        
    &__desc
        font-size 13px
        line-height 16px
        color #acaaaa