.article-name
    position relative
    padding-bottom 20px
    
    &:before
        content ''
        position absolute
        bottom 0
        left 0
        width 60px
        border-bottom 4px solid orange
    
    &__title
        margin-bottom 12px
        font-size 29px
        font-weight bold
        line-height 24px
        color #fff
    
    &__desc
        font-size 31px
        line-height 26px
        font-weight normal
        color #fff

@media ( max-width 760px )
    .article-name
        margin-bottom 30px