.chat-card
    background #fff
    
    &__title
        position relative
        padding 24px 40px 20px 39px
        font-size 14px
        font-weight bold
        color #fff
        text-transform uppercase
        background #6a96d8
        
        &:before
            content ''
            position absolute
            top 47%
            left 20px
            width 6px
            height 6px
            border-radius 50%
            background #fff