.loop1Step10Editable
    
    &__section
        display flex
        justify-content space-between
        max-width 899px
        margin 0 auto 44px
        
@media ( max-width 920px )
    .loop1Step10Editable__section
        padding 0 20px

@media ( max-width 700px )
    .loop1Step10Editable__section
        flex-direction column