.loop3Step3Price
    margin 0 0 21px
    padding 0 20px
    
    &__cur
        margin 0 0 3px
        font-size 18px
        line-height 18px
        color #2bcd71
    
    &__old
        font-size 16px
        line-height 16px
        color #b1b3b7