.loop3Step9Date
    display flex
    align-items center

    &__day
        margin 5px 23px 0 0
        line-height 22px
        color #ebebeb
        text-align right
        
    &__time
        font-size 60px
        font-weight 300
        letter-spacing -1.9px
        line-height 40px
        color #fff
        
    &__span
        font-size 15px
        line-height 15px
        text-transform uppercase