.loop3Step7Title
    display flex
    align-items center
    margin-bottom 8px
    font-size 24px
    line-height 24px
    font-weight bold
    color #fff
    
    &__info
        margin 0 0 0 16px
        padding 6px 8px
        font-size 10px
        line-height 10px
        color #fff
        text-transform uppercase
        border-radius 2px
        background #515155

    &__info--age
        margin-left 8px
        padding 6px