.sumBalance
    display flex
    justify-content space-between
    margin 0px 0 43px
    
    &__content
        position relative
        padding 0 0 0 53px

    &__before
        content ''
        position absolute
        top 9px
        left 0
        width 22px
        height 22px
        outline none
        border 1px solid #e8e8e8
        border-radius 50%
        background url('../img/minus.svg') 50% 50% no-repeat
        background-size 16px
        

        &:hover,
        &:active
            border 1px solid #c3c3c3
            background-color #fff
        &:focus
            border 1px solid #949393
            background-color #fff
    
    &__before--active
        background url('../img/plus.svg') 50% 50% no-repeat
        background-size 16px

    &__title
        margin-bottom 5px
        font-size 18px
        font-weight bold
        color #000
        line-height 19px
        letter-spacing -0.2px
    
    &__desc
        font-size 14px
        color #bfbfbf
        line-height 14px
        letter-spacing -0.3px
    
    &__summery
        padding 10px 0 0
        
@media ( max-width 480px )
    .sumBalance
        flex-direction column
    
    .sumBalance__content,
    .sumBalance__summery
        padding-left 30px