.loop2Step10_footer
    background #f6f8f9
    border-top 1px solid #dedede

    &__section
        max-width 1000px
        width 100%
        margin 0 auto
        padding 24px 10px 20px
        font-size 14px
        font-weight 300
        line-height 14px
        letter-spacing -0.2px
        color #000
        text-align center