.loop3Step6Middle
    
    &__item
        display flex
        align-items center
        justify-content space-between
        margin-bottom 15px
        
    &__item:last-child
        margin-bottom 0
    
    &__title
        font-size 12px
        font-weight 500
        line-height 12px
        color #000