<div block="loop-3-step-7">
    <div elem="section">
        <div block="loop3Step7Tickets">
            <div elem="top">
                <div block="loop3Step7Top">
                    <div block="loop3Step7Title">
                        League of Justice
                        <div elem="info">
                            real 3d
                        </div>
                        <div elem="info" mods="age">
                            12+
                        </div>
                    </div><!-- b:loop3Step7Title -->
                    <div block="loop3Step7Subtitle">
                        Sunshine Cinema
                    </div><!-- b:loop3Step7Subtitle -->
                    <div block="loop3Step7Date">
                        Tonight, 7 PM
                    </div><!-- b:loop3Step7Date -->
                    <div block="loop3Step7Close"></div><!-- b:loop3Step7Close -->
                </div><!-- b:loop3Step7Top -->
            </div>
            <div elem="mid">
                <div block="loop3Step7Mid">
                    <div elem="image">
                        <img elem="img" src="img/screen.jpg" alt="">
                    </div>
                    <div elem="content">
                        <div block="loop3Step7Content">
                            <div block="loop3Step7Nums" mods="left">
                                <div elem="item">1</div>
                                <div elem="item">2</div>
                                <div elem="item">3</div>
                                <div elem="item">4</div>
                            </div>
                            <div block="loop3Step7Places">
                                {% for i in range(1, 5) %}
                                    <div elem="row">
                                        {% for j in range(1, 11) %}
                                            <a href="#" elem="item" {% if i == 2 or i == 3 %}{% if loop.index == 5 or loop.index == 6 %}class="vip"{% endif %}{% endif %}>
                                                {{ j }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div><!-- b:loop3Step7Places -->
                            <div block="loop3Step7Nums" mods="right">
                                <div elem="item">1</div>
                                <div elem="item">2</div>
                                <div elem="item">3</div>
                                <div elem="item">4</div>
                            </div>
                        </div><!-- b:loop3Step7Content -->
                    </div>
                </div><!-- b:loop3Step7Mid -->
            </div>
            <div elem="bot">
                <div block="loop3Step7Bot">
                    <div block="loop3Step7Prices">
                        <div elem="price" mods="standard">Standard: $10</div>
                        <div elem="price" mods="vip">VIP: $15</div>
                    </div><!-- b:loop3Step7Price -->
                    <button block="loop3Step7Button">
                        Done
                    </button><!-- b:loop3Step7Button -->
                </div><!-- b:loop3Step7Bot -->
            </div>
        </div><!-- b:loop3Step7Tickets -->
    </div>
</div><!-- b:loop-3-step-7 -->