.loop2Step10Posts
    position relative
    border 1px solid $borderColor2
    background #fff
    margin 0 0 20px

    &__title
        padding 20px 20px 23px
        font-size 15px
        line-height 15px
        color #000
        text-transform uppercase
        border-bottom 1px solid $borderColor
    
    &__items
        position relative
        display flex
        flex-wrap wrap
        padding 20px 20px 0 20px
        margin-left -20px