.loop-1-step-1
    padding 104px 70px 110px
    background #458dd8
    &__section
        max-width 990px
        margin 0 auto
        padding 30px 30px 0
        background #fff
        border-radius 5px

@media ( max-width 640px )
    .loop-1-step-1
        padding 30px 20px

@media ( max-width 480px )
    .loop-1-step-1__section
        padding 24px 20px 9px