.loop-1-step-1
    padding 104px 70px 110px
    background #458dd8
    &__section
        max-width 990px
        margin 0 auto
        padding 30px 40px 18px
        background #fff
        border-radius 5px