.card-snippet
    display flex
    flex-direction column
    padding 15px 10px
    height 100%
    text-decoration none
    border-radius 5px

    &:hover
        background rgba(0,0,0,.1)
    
    &:focus
        background rgba(0,0,0,.2)    
        outline none
    
    &__top
        flex 1 1 auto

    &__img
        display block
        margin-bottom 40px
        img
            width 75px
    
    &__name
        display block
        margin-bottom 15px
        font-size 20px
        font-weight bold
        letter-spacing 3px
        text-transform uppercase
        color #3787da
    
    &__desc
        display block
        margin-bottom 8px
        font-size 14px
        color #85848a