.signupOther
    position relative
    display flex
    justify-content space-between
    padding 42px 0 43px
    
    &:before
        content ''
        position absolute
        top 0
        left -60px
        right -60px
        border-top 1px solid #f1f1f1
    
    &__title
        font-size 13px
        line-height 13px
        color #000
    
    &__email
        align-self flex-start
        font-size 11px
        font-weight bold
        line-height 11px
        color #8b8b8c
        outline none
        text-decoration none
        text-transform uppercase
        transition color 0.5s
        
        &:active,
        &:focus,
        &:hover
            color #000
            transition color 0.5s
            
            