.loop3Step1Sneakers
    display flex
    background #fff
    border-radius 5px

    &__view
        flex 0 0 47%
        max-width 47%
        
    &__info
        flex 0 0 53%
        max-width 53%
        padding 60px 40px
    
    &__view
        margin -40px 0
        background #e26796
        border-radius 5px