.loop3Step1Sneakers
    display flex
    background #fff
    border-radius 5px

    &__view
        flex 0 0 47%
        max-width 47%
        
    &__info
        flex 0 0 53%
        max-width 53%
        min-height 567px
        padding 60px 40px 40px
    
    &__view
        margin -40px 0
        background #e26796
        border-radius 5px
        
@media ( max-width 768px )
    .loop3Step1Sneakers
        flex-direction column
    

    .loop3Step1Sneakers__view,
    .loop3Step1Sneakers__info
        flex 0 0 auto
        max-width 100%
        margin 0
    
    .loop3Step1View
        min-height 567px


@media ( max-width 480px )
    .loop3Step1View,
    .loop3Step1Info
        min-height 377px
    
    .loop3Step1Sneakers__info
        padding 20px

@media ( max-width 320px )
    .loop3Step1View
        min-height 277px