.payment-dots
    position absolute
    top 20px
    left 0
    right 0
    margin 0
    padding 0
    text-align center
    
    &__dot
        display inline-block
        vertical-align top
        width 6px
        height 6px
        margin 0 4px
        background #afafaf
        border-radius 50%
        
        &:hover,
        &:focus
            background #403a3a