.loop2Step5View
    position relative
    display inline-block
    vertical-align top
    max-width 99px
    width 100%
    padding 0 0 0 33px
    font-size 21px
    line-height 21px
    color #000
    outline none
    cursor pointer
    user-select none
    
    &:hover,
    &:active,
    &:focus
        font-weight bold
    
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 24px
        height 24px
        background url('../img/view.svg') 0 0 no-repeat
        background-size cover