.loop2Step9MapButton
    position absolute
    bottom -20px
    right 30px
    padding 12px 10px 12px 38px
    font-size 16px
    font-weight 500
    color #fff
    line-height 16px
    letter-spacing -0.5px
    text-transform uppercase
    text-decoration none
    border-radius 5px
    background #4677f6
    
    &:hover,
    &:active
        background #698ce4
        
    &:focus
        background #35539e
    
    &:before
        content ''
        position absolute
        top 50%
        left 12px
        width 17px
        height 17px
        margin -8px 0 0
        background url('../img/location.svg') 0 0 no-repeat
        background-size cover