.loop2Step10PostsItem
    flex 0 0 33.3%
    max-width 33.3%
    padding 0 0 22px 20px
    
    &__img
        display block
        margin-bottom 11px
        img
            max-width 100%
        
    &__title
        display block
        margin 0 0 7px
        font-size 15px
        line-height 17px
        color #000
    
    &__date
        display block
        font-size 12px
        line-height 12px
        color #c0b8b2

.loop2Step10Posts--post
    .loop2Step10PostsItem
        text-decoration none
        
        &:hover,
        &:active,
        &:focus
            .loop2Step10PostsItem__title
                text-decoration underline

.loop2Step10Posts--recommend
    
    .loop2Step10PostsItem
        padding 0 0 23px 20px
    
    .loop2Step10PostsItem__text
        position relative
        margin 2px 0 36px
        padding 19px
        font-size 14px
        line-height 18px
        color #000
        border 1px solid $borderColor
        
    .loop2Step10PostsItem__line
        position absolute
        top auto
        bottom -30px
        left -1px
        width 30px
        height 30px
        border-left 1px solid $borderColor
        
        &:before
            content ''
            position absolute
            top 0
            width 30px
            height 1px
            background #fff
            
        &:after
            content ''
            position absolute
            top 15px
            left -7px
            width 43px
            height 1px
            background $borderColor
            transform rotate(-45deg)

.loop2Step10Posts--follow
    margin-bottom 0
    
    .loop2Step10PostsItem
        flex 0 0 25%
        max-width 25%

    .loop2Step10PostsItem__img
        display flex
        align-items center
        margin 0 0 22px
        padding 18px 21px 19px
        border 1px solid $borderColor
    
    .loop2Step10PostsItem__title
        margin-bottom 8px
        font-size 14px
        line-height 14px
        color #000
        
    .loop2Step10PostsItem__button
        position relative
        display block
        padding 2px 0 2px 25px
        font-size 14px
        line-height 14px
        color #68aeef
        text-decoration none
        
        &:hover,
        &:active,
        &:focus
            text-decoration underline
        
        &:before
            content '+'
            position absolute
            top 0
            left 0
            width 20px
            height 20px
            display flex
            justify-content center
            align-items center
            border 1px solid #68aeef
            border-radius 50%
    
    .loop2Step10Posts__more
        display inline-block
        vertical-align top
        margin 0 0 20px 20px
        padding 5px 28px 2px
        font-size 16px
        color #68aeef
        text-decoration none
        border 1px solid #68aeef
        border-radius 20px
        transition background 0.3s
        
        &:hover,
        &:active
            text-decoration underline
        
        &:focus
            color #fff
            text-decoration none
            background #7bbaf5
            transition background 0.3s


@media ( max-width 980px )
    .loop2Step10Posts
        .loop2Step10PostsItem
            flex 0 0 50%
            max-width 50%

@media ( max-width 600px )
    .loop2Step10Posts
        .loop2Step10PostsItem
            flex 0 0 100%
            max-width 100%
    
    .loop2Step10PostsItem:not(:last-child)
        display none
        