.search
    
    &__input
        display inline-block
        vertical-align top
        max-width 147px
        padding 6px 5px 4px 2px
        font-size 13px
        color #000
        line-height 1
        letter-spacing 0.3px
        outline none
        border none
        border-bottom 1px solid #000
        
        &::-webkit-input-placeholder {color:#afacac;}
        &::-moz-placeholder          {color:#afacac;}/* Firefox 19+ */
        &:-moz-placeholder          {color:#afacac;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#afacac;}