.article-info
    display flex
    flex-direction column
    justify-content space-between
    flex 1 1 400px
    padding 65px 41px 40px
    background #484956
    

@media ( max-width 760px )
    .article-info
        flex none

@media ( max-width 480px )
    .article-info
        padding 30px 20px 30px