.loop3Step1Sneaker
    position absolute
    top 152px
    left -108px
    width 480px
    
    &__img
        
        img
            max-width 100%
    
    &__plus
        display flex
        align-items center
        justify-content center
        width 30px
        height 30px
        font-size 20px
        font-weight 500
        line-height 20px
        color #fff
        background #5429f2
        border none
        border-radius 50%
        outline none
        cursor pointer
        
        &:hover,
        &:active
            background #886ee8
        
        &:focus
            background #2b1382

    &__plus--first
        position absolute
        top 68px
        left 125px
    
    &__plus--second
        position absolute
        top 226px
        left 211px

    &__plus--third
        position absolute
        bottom 148px
        right 70px