.loop3Step1Sneaker
    position absolute
    top 152px
    left -108px
    width 480px
    user-select none
    
    &__img
        
        img
            max-width 100%
    
    &__plus
        z-index 5
        width 30px
        height 30px
        background #5429f2
        border none
        border-radius 50%
        outline none
        cursor pointer
        user-select none
        
        &:hover,
        &:active
            background #886ee8
        
        &:focus
            background #2b1382
            
        &:before
            content ''
            position absolute
            top 50%
            left 50%
            z-index 1
            width 2px
            height 10px
            background #fff
            transform translate(-50%,-50%)
        
        &:after
            content ''
            position absolute
            top 50%
            left 50%
            z-index 1
            width 10px
            height 2px
            background #fff
            transform translate(-50%,-50%)

    &__plus--first
        position absolute
        top 15%
        left 26%
    
    &__plus--second
        position absolute
        top 50%
        left 44%

    &__plus--third
        position absolute
        bottom 33% 
        right 14%

@media ( max-width 768px )
    .loop3Step1Sneaker
        left 0
        right 0
        margin 0 auto

@media ( max-width 480px )
    .loop3Step1Sneaker
        top 11%
        width auto
