.app__content
    background #78accd
    background-size cover
    
.loop-2-step-6
    // height 100vh
    // background #78accd
    // background-size cover
    
    &__section
        max-width 400px
        margin 0 auto
        padding 150px 20px
        box-sizing content-box