.loop2Step6Days
    display flex
    flex-wrap wrap
    margin 0 0 0 -26px
    
    &__col
        flex 0 0 14.28%
        max-width 14.28%
        height 30px
        margin 0 0 14px
        padding 0 0 30px 26px
        text-align center