.loop3Step9Weather
    display flex
    align-items flex-end
    
    .svg-icon
        fill #fff

    &__item
        margin-right 33px
        color #fff
        
    &__img
        width 25px
        height 25px
        margin 0 auto 10px
        text-align center
        
        .svg-icon
            width 25px
            height 25px
            vertical-align top
        
    &__day
        margin-bottom 8px
        font-size 16px
        font-weight 500
        line-height 16px
    
    &__text
        font-size 15px
        font-weight 500
        line-height 15px
    
    &__item.active
        margin-right 35px
        
        .loop3Step9Weather__img
            width auto
            height auto
            margin-bottom 8px
        
        .svg-icon
            width 40px
            height 40px
        
        .loop3Step9Weather__text
            font-size 40px
            line-height 40px