.chat-message
    padding 22px 20px 12px
    height 367px
    overflow-y auto

    &::-webkit-scrollbar
      width 5px
      cursor pointer

    &::-webkit-scrollbar-thumb
      background #8aa7cc
      border-radius 3px
    
    &__title
        position relative
        padding 0 0 18px 0
        font-size 12px
        font-weight bold
        color #dddddd
        text-transform uppercase
        text-align center
        
        &:before
            content ''
            position absolute
            top 6px
            left 0
            right 60%
            height 1px
            background #dddddd
        
        &:after
            content ''
            position absolute
            top 6px
            right 0
            left 60%
            height 1px
            background #dddddd