.tour-img
    position relative
    flex 1 1 32%
    background-repeat no-repeat
    background-position 0 0
    background-color #8abefa
    background-size cover
    
@media ( max-width 760px )
    .tour-img
        background none