.loop3Step2photoView
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    outline none
    background-position 50% 50%
    background-repeat no-repeat
    background-size cover
    transition background 0.3s
    
.loop3Step2photoView:focus+.loop3Step2ContentItems
    box-shadow 0 5px 12px -1px #648cf7
    background rgba(#000,0.3)    
    opacity 1
    