.loop2Step10OtherPeopleItem
    display flex
    text-decoration none
    
    &__img
        width 40px
        height 40px
        margin 0 10px 0 0
        
        img
            max-width 100%
            border-radius 50%
    
    &__title
        display block
        margin 3px 0 9px
        font-size 15px
        line-height 15px
        letter-spacing -0.6px
        color #000
    
    &__subtitle
        display block
        font-size 12px
        line-height 12px
        color #c0b8b2
    
.loop2Step10OtherPeople--right
    margin-bottom 40px
    
    .loop2Step10OtherPeopleItem
        margin-bottom 25px
        
        &:last-child
            margin-bottom 0