.loop2Step6Calendars
    background #fff
    
    &__top
        display flex
        justify-content space-between
        padding 13px 20px 17px
        border-bottom 1px solid #dedede
    
    &__bot
        display flex
        justify-content space-between
        padding 26px 20px 20px
        border-top 1px solid #dedede