.loop2Step9Item
    display flex
    margin 0 0 33px 0
    
    &:last-child
        margin-bottom 0

    &__img
        flex 0 0 24px
        margin 0 30px 0 0
    
    &__text
        flex 1
    
    &__title
        margin 0 0 6px
        font-size 14px
        color #aaacae
        line-height 14px
    
    &__subtitle
        font-size 14px
        color #000
        line-height 14px
        letter-spacing 0.5px

.loop2Step9Item--picture
    align-items center
    min-height 70px
    margin 0 -30px 33px -10px
    border-radius 3px 0 0 3px
    background-color #4677f6
    background-position 50% 50%
    background-repeat no-repeat
    background-size cover
    
    .loop2Step9Item__img
        margin-left 10px
    