.loop2Step1SliderItem
    position relative
    z-index 1
    display flex
    flex-direction column
    flex 0 0 300px
    justify-content center
    max-width 300px
    min-height 300px
    margin 0 0 50px
    padding 30px 20px 30px 60px
    font-size 0
    
    &__title
        margin 0 0 18px
        font-size 20px
        font-weight bold
        color #de8a89
        line-height 18px
        
    &__option
        font-size 30px
        font-weight bold
        color #fff
        line-height 23px

.loop2Step1SliderItem--first
    background #3e3c3d

.loop2Step1SliderItem--second
    background #353334

.loop2Step1SliderItem--third
    background #201e1f