.loop3Step1Price
    display flex
    align-items center
    margin 0 0 33px
    
    &__cur
        margin 0 13px 0 0
        font-size 21px
        line-height 21px
        letter-spacing 0.5px
        color #000
        
    &__old
        font-size 15px
        line-height 15px
        letter-spacing -0.4px
        color #abb4c1