.gate-cur
    position relative
    display flex
    justify-content space-between
    margin 0 0 65px
    padding 64px 40px 0
    
    &:before
        content ''
        position absolute
        top 89px
        left 50%
        width 27px
        height 5px
        margin-left -12px
        background #d3e6f4
    
    &__first,
    &__second
        max-width 140px
    
    &__title
        margin-bottom 8px
        font-size 50px
        line-height 38px
        font-weight bold
        text-transform uppercase
        color #3b8acf
    
    &__full-title
        font-size 15px
        line-height 15px
        color #aaaaaa
        text-transform uppercase
        
@media ( max-width 400px )

    .gate-cur:before
        top 55px

    .gate-cur__title
        font-size 30px
        line-height 31px
    
    .gate-cur__full-title
        font-size 13px
    
    .gate-cur
        margin 0 0 30px
        padding 30px 10px 0