.loop3Step6But
    margin-top 13px
    font-size 15px
    line-height 13px
    color #6666ce
    text-decoration none
    outline none

    &:hover,
    &:active,
    &:focus
        color #5f86ed
        text-decoration underline
    

.loop3Step6But--complete
    display inline-block
    vertical-align top
    margin-top 0
    padding 14px 18px
    color #fff
    background #5f86ed
    border-radius 5px
    
    &:hover,
    &:active
        color #fff
        background #88a3e8
        text-decoration none
    
    &:focus
        color #fff
        background #1c43a5
        text-decoration none