.loop-3-step-9
    height 100%
    
    &__section,
    .loop3Step9Media
        height 100%

@media ( max-width 768px )
    .loop3Step9Media__top
        padding 20px 20px 22px
    
    .loop3Step9Date__day
        margin-right 5px
        margin-bottom 10px

    .loop3Step9Contents__item
        flex 0 0 150px
        max-width 150px
    
    .loop3Step9Date
        flex-direction column
    
    .loop3Step9Music__content
        display block
    
    .loop3Step9Player
        margin-right 0
        margin-bottom 30px
        flex none
        max-width none
        
    .loop3Step9Nav
        flex-wrap wrap

@media ( max-width 600px )
    .loop3Step9Weather__item
        margin-right 13px
        
    .loop3Step9Weather__item.active
        margin-right 15px

@media ( max-width 520px )
    .loop3Step9Media__top
        display block
    
    .loop3Step9Date
        display block
    
    .loop3Step9Date__day
        text-align left
        
    .loop3Step9Date__day,
    .loop3Step9Date__time
        display inline-block
        vertical-align top

    .loop3Step9Weather
        margin-bottom 30px

    .loop3Step9TV__img,
    .loop3Step9Music__img
        flex 0 0 50px
        max-width 50px

@media ( min-width 1366px )
    .loop3Step9Contents__item
        flex 0 0 18%
        max-width 18%
    
    .loop3Step9Playlist__item
        flex 0 0 100px
        max-width 100px

@media ( min-width 1400px )
    .loop-3-step-9__section,
    .loop-3-step-9 .loop3Step9Media
        display flex
        flex-direction column  
    
    .loop3Step9Playlist__item
        flex 0 0 18%
        max-width 18%

    .loop3Step9Media__top
        align-items center

    .loop3Step9Media__top,
    .loop3Step9Media__mid,
    .loop3Step9Media__bot
        height 100%

    .loop3Step9Media__mid
        margin-bottom 50px
    
    .loop3Step9Music
        margin-top 20px

    .loop3Step9Media__bot
        margin-top 30px
    
    .loop3Step9Playlist__img,
    .loop3Step9Contents__img,
    .loop3Step9Player__top
        margin-bottom 40px
    
    .loop3Step9Player__img
        width 130px
        height auto
    
    .loop3Step9Player__title,
    .loop3Step9Player__subtitle,
    .loop3Step9Playlist__title,
    .loop3Step9Contents__time,
    .loop3Step9Contents__title
        font-size 20px
        line-height 20px